<div class="container">
	<div id="tweet-card" class="card" style="width: 740px;" *ngFor="let tweet of tweets | async">
		<div class="card-body">
			<img id="tweetImage" src="{{tweet.author.displayImg}}" alt="profile pic">
			<h4 class="card-title">{{tweet.author.displayName}}  <span id="handle">{{tweet.author.handle}}</span></h4>
			<p id="dates" class="card-subtitle mb-2 text-muted">{{tweet.postTime}}<br>{{tweet.postDate}}</p>
			<p class="card-text">{{tweet.description}}</p>
			<p *ngIf="tweet.link !== ''"><a href="{{tweet.link}}">{{tweet.link}}</a></p>
			<img id="tweetContentImage" *ngIf="tweet.image !== ''" src={{tweet.image}} alt="tweet image content">
		</div>
		<div class="interaction">
			<h6><a href="#">Reply</a> | <a href="#">Retweet</a> | <a href="#">Like</a> | <a href="#">DM</a></h6>
		</div>
	</div>
</div>
